* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
}

nav {
  height: 100%;
  display: flex;
  background-color: rgb(9, 163, 198);
  width: 30%;
  flex-direction: column;
  color: white;
  text-align: center;
  position: fixed;
  padding: 50px 0px;
  box-shadow: 5px 0px 5px grey;
  transition: width 1s;
  padding-top: 10px;
}

#nav-container {
  width: 30%;
  display: flex;
  transition: width 1s;
}

nav ul {
  list-style: none;
  padding: 15px 0px;
}

nav li {
  padding: 5px 0px;
}

nav li:hover {
  background-color: rgb(13, 101, 121);
  transition: 1s;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  transition: width 1s;
}

form {
  width: 70%;
}

input,
select {
  padding: 5px;
  margin: 10px 0px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
}

.centralizar {
  text-align: center;
}

#div-img {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10px;
}

#div-msg img {
  width: 10px;
  cursor: pointer;
}

#lista {
  padding: 0px 50px;
}

button {
  background-color: rgb(9, 163, 198);
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}

button:hover {
  background-color: rgb(13, 101, 121);
  transition: 1s;
}

.mensagens {
  display: none;
  flex-direction: column;
  background-color: rgb(9, 163, 198);
  color: white;
  position: absolute;
  width: 250px;
  height: 200px;
  opacity: 0.9;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  animation: slide-mesage 2s;
}

#botao-container {
  display: flex;
  align-items: flex-start;

  width: 100%;
  height: 30px;
  padding-left: 10px;
}

#botao {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  cursor: pointer;
}

#botao div {
  background-color: rgb(160, 158, 158);
  width: 30px;
  height: 6px;
}

#x-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  padding-right: 10px;
}

#x {
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#x img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 0%;
  }
  #nav-container {
    width: 0%;
  }
  main {
    width: 100%;
  }
  ul,
  nav h2 {
    display: none;
  }
  #botao {
    display: flex;
  }
  #x {
    display: none;
  }
}

@keyframes slide-mesage {
  from {
    opacity: 0;
    transform: translate3d(0px, -430px, 0px);
  }
  to {
    opacity: 0.9;
    transform: translate3d(0px, 0px, 0px);
  }
}
